{% extends "root.html" %}

{% block title %}Wooden-item{% endblock title %}

{% block style %}
.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* Container for the boxes */
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Each box style */
.box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 230px;
    height:300px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 15px;
    text-align: center;
}

.box:hover {
    transform: scale(1.05); /* Makes the box pop on hover */
}

/* Image inside the box */
.box img {
    max-width: 100%;
    height: 150px;
    border-radius: 4px;
}

/* Title of the content */
.box h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

/* Description */
.box p {
    color: #555;
    font-size: 1em;
    margin: 10px 0;
}

/* Button inside the box */
.box button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.box button:hover {
    background-color: #218838;
}
.profile-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    display: inline-block;
    border-radius: 50%;
}






{% endblock style %}






{% block content %}

<div class="box-container">
    <!-- First Box -->
    <div class="box">
        <img src="{{url_for('static' , filename='image/cah_bal.jpg')}}" alt="Product 1">
        <h2>Chakla belan</h2>
        <p></p>
        <a href="{{url_for('main.product',item='Chakla Belan (Rolling Board and Pin)')}}">
            <button>Add to Cart</button>
        </a>
    </div>

    <!-- Second Box -->
    <div class="box">
        <img src="{{url_for('static' , filename='image/utensils.jpg')}}" alt="Product 2">
        <h2>wooden items</h2>
        <p></p>
        <a href="{{url_for('main.product',item='wood-item')}}">
            <button>Add to Cart</button>
        </a>
    </div>

    <!-- Third Box -->
    <div class="box">
        <img src="{{url_for('static' , filename='image/images.png')}}" alt="Product 3">
        <h2>Product 3</h2>
        <p>This </p>
        <a href="{{url_for('main.cart')}}">
            <button>Add to Cart</button>
        </a>
    </div></div>
</div>
{% endblock content %}



{% block check %}
    {% if usr %}
        <div class="login">
            <a href="{{url_for('main.user')}}">user</a>
        </div>
    {% else %}
    <div class="login">
        <a  href="{{url_for('main.login')}}">log in</a>
        </div>
    {% endif %}
{% endblock %}
