{% extends "root.html" %}
{% block content%}
<div class="container mt-5">
    <h1>Registered Users</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Email</th>
                <th>User name</th>
                <th>password</th>
                <th>registered_on</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.registered_on }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
